@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 64px;
  width: 70%;
  background: #e5b05a;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}
.cheese {
  height: 15px;
  width: 65%;
  background: #f2c183;
  border-bottom: solid 2px rgba(0,0,0,.1);
}
  height: 25px;
.patty {
  height: 45px;
  width: 65%;
  background: #ad269b;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 10px;
  width: 50%;
  background: #3ac95d;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.bun-bottom {
  height: 32px;
  width: 67%;
  background: #e5b05a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #656565;
  border-radius: 20px 20px 200px 200px;
}
